$primaryFont: 'Poppins', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

$regularWeight: 400;
$mediumWeight: 500;
$semiboldWeight: 600;
$boldWeight: 700;

.primary-font-regular {
	font-family: $primaryFont;
	font-weight: $regularWeight;
}

.primary-font-semibold {
	font-family: $primaryFont;
	font-weight: $semiboldWeight;
}

.primary-font-bold {
	font-family: $primaryFont;
	font-weight: $boldWeight;
}

.secondary-font-regular {
	font-family: $secondaryFont;
	font-weight: $regularWeight;
}

.secondary-font-semibold {
	font-family: $secondaryFont;
	font-weight: $mediumWeight;
}

.secondary-font-bold {
	font-family: $primaryFont;
	font-weight: $boldWeight;
}
